body{
    background-image: url(./charmain-images/whitebackground.png)
}

html,body
{
    height:100%;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,400;1,500&family=Montserrat:wght@200&display=swap');

* {
margin: 0px; 
padding: 0px; 
font-family: 'Montserrat', sans-serif; 
box-sizing: border-box;
}

nav{
    width: 100%; 
    height: 75px;
    background-color: #04040c;
    line-height: 75px;
    padding: 0px 100px;
    position:absolute;
    z-index: 1;
    float: right;
}

nav.logo{
    font-size: 30px;
    font-weight:bold;
    letter-spacing: 1.5px;
}

nav p.logo {
    float: right;
    color: #fff;
    text-transform:uppercase;
    font-weight: 800;
    
}
nav ul{
    float: right;
       top: 0px;
}

nav li{
    display:inline-block; 
    list-style:none;
    font-weight: 800;
}
nav ul li a{
    color: #fff; font-size: 18px;text-transform: uppercase;padding: 0px 32px; text-decoration: solid;font-weight: 800; text-align: right;
}

nav ul li a:hover{
color:#37b323;
}

nav ul li .active{
    color:#37b323;
}

.one{
    font-size:x-large;
    color: #Ebebf1;
    position: absolute;
    top: 40%;
    font-family: 'EB Garamond', serif;
    font-style: italic;  
}

.two{
    font-size: 350%;
    color: #Ebebf1;
    position: absolute;
    top: 45%;
}

.button{
    display: inline-flex;
    height: 50px;
    padding: 0;
    background-color: #37b323;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

button{
    font-size: 22px;
    padding: 25px;
    border-radius: 40px;
    margin: 20px;
    background-color: #37b323;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
    overflow: hidden;
    font-weight: 550;
    cursor: pointer;
    top: 1000px;
}

button:hover{
background: #37b323;
}

button:active{
    background-color: rgb(3, 71, 3);
}

#button{
    text-align: center; 
}
#container{
    margin: 0px;
    width: 80%;
    padding: 6px;
    display:flex;
    align-items: center;
}

#img
{
float: left;
padding: 0 10px 0 0;
position: absolute;
top: 50px;
}

#text{
    text-align: justify;
}

h1{
    font-weight: 910;
    text-align: center;
    color: #37b323;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

p{
    font-size: large;
    font-weight: 300;
    text-align: justify;
}

.split{
    height: 100%;
    width: 25%;
    position: absolute;
    z-index: 1;
    top: 1400px;
    overflow-x:hidden;
    padding-top:20px;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.middle{
    left: 25%;
}

.middle1{
    left: 50%;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}

.centered h2{
    font-size: 2em;
    margin: 6px;
    padding: 0;
    font-weight: bold;
    text-align: center;
}

.text-box{
    position: relative;
    color: black;
    top: 500px;
    width: 200px;
    height: 70px;
    margin: 240px auto;
    background-color:white ;
    border: 6px solid #37b323;
    border-bottom: 8px solid black;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    font-style: italic  
}

.paragraph{
    top: 2350px;
    position: absolute;
    text-align: center;
    font-size: larger;
}

ol{
     
    margin: 0;
    padding: 0;
    float: right;
}

ol li
{
    list-style: none;
    display: inline-block;
     
}

ol li a
{
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 6px;
    border-radius: 40%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 5px 6px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    top: 450px;
    transition: .5s;
    

}
ol li a:hover
{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
ol li a .fa
{
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 6px);
    font-size: 30px;
    color: #262626;
    transition: .5s;
  
}
ol li:nth-child(1) a:hover .fa
{
    color: #3b5999;
}
ol li:nth-child(2) a:hover .fa
{
    color: #55acee;
}
ol li:nth-child(3) a:hover .fa
{
    color: #dd4b39;
}
ol li:nth-child(4) a:hover .fa
{
    color: #0077B5;
}
ol li:nth-child(5) a:hover .fa
{
    color: #e4405f;
}

.close{
    position: relative;
    top: 550px;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: medium;
}















